<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <% articles.forEach(function(articles){ %>
            <tr>
                  <td><%= articles.id %></td>
                  <td><%= articles.title %></td>
                  <td>
                    <a href="/articles/edit/<%= articles.id %>" class "btn btn-primary">Edit</a>
                    <form class="d-inline" action="/articles/delete/<%= articles.id %>" method="delete">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
      <% }) %>
    </tbody>
</table>